.w {
    width: 1190px;
    /*height: 10000px;*/
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style-red {
    color: red !important;
}

body {
    background-color: #f6f6f6;
}

li {
    list-style: none;
}

ul, button {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    vertical-align: top;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?awcyal');
    src: url('../fonts/icomoon.eot?awcyal#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?awcyal') format('truetype'),
    url('../fonts/icomoon.woff?awcyal') format('woff'),
    url('../fonts/icomoon.svg?awcyal#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


/*普通浏览器清除浮动*/
.clearFix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

/*ie 6清除浮动*/
.clearFix {
    *zoom: 1;
}


/*头部*/
.J_event {
    background-color: black;
}

.J_event a {
    display: block;
    height: 80px;
    background: url("../image/heard_bg.jpg.webp");
    position: relative;
}

.J_event a i {
    font-family: icomoon, serif;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    right: 0;
    top: 5px;
    line-height: 20px;
    color: floralwhite;
    font-style: normal;
}

/*头部*/

/*顶部导航栏*/
.shortcut {
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #dddddd;
    color: #9d9d9d;
    font-size: 12px;
    line-height: 30px;
    /*overflow: hidden;*/

}

.shortcut .fl li {
    margin-left: 200px;
}

.shortcut .fl i {
    font-family: icomoon, sans-serif;
    color: red;
    font-size: 14px;
    font-style: normal;
    line-height: 30px;
}

.shortcut a {
    color: #9d9d9d;
    font-size: 12px;
    text-decoration: none;
}

.shortcut a:hover {
    color: red;
}

.shortcut .fr li {
    float: right;
}

.spacer {
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    margin: 10px 10px 0;
}

.dropdown {
    padding-right: 15px;
    position: relative;
}

.dropdown i {
    font-family: icomoon, serif;
    font-style: normal;
    font-size: 16px;
    position: absolute;
    right: -3px;
    top: -3px;
}

.my-jd {
    position: relative;

}

.code-two {
    width: 60px;
    height: 60px;
    position: absolute;
    border: 1px solid #cccccc;
    padding: 2px;
    top: 30px;
    left: -50px;
    display: none;
    z-index: 999;
}

.my-jd:hover .code-two {
    display: block;
}

/*顶部导航栏*/

/*header 部分*/
.header {
    height: 140px;
    background-color: white;
}

.inner {
    height: 140px;
    position: relative;
    /*background-color: aqua;*/
}

.logo {
    width: 190px;
    height: 170px;
    position: absolute;
    top: -30px;
    background-color: #ffffff;
    left: 0;
}

/*这里的 文字一定不可以删除，可以移出浏览器，但是绝对不可以删除*/

/*logo*/
.logo a {
    width: 190px;
    height: 170px;
    display: block;
    background: url("../image/logo.png") no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

/*logo*/

/*搜索框*/
.search {
    width: 550px;
    height: 35px;
    background-color: antiquewhite;
    position: absolute;
    top: 25px;
    left: 320px;
}

.search input {
    width: 493px;
    height: 33px;
    border: 1px solid #F10215;
    padding: 0 0 0 5px;
    outline: none;
    float: left;
    color: #989898;
}

.search button {
    width: 50px;
    height: 35px;
    background-color: #F10215;
    cursor: pointer;

}

.search i {
    font-family: icomoon, sans-serif;
    color: white;
    font-size: 16px;
    font-style: normal;
}

.search em {
    font-family: icomoon, sans-serif;
    position: absolute;
    top: 7px;
    right: 65px;
    width: 19px;
    height: 19px;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
}

.search em:hover {
    color: #F10215;
}

.hotWords {
    position: absolute;
    top: 70px;
    left: 320px;
}

.hotWords a {
    color: #9e9b99;
    font-size: 12px;
}

.hotWords a:hover {
    color: #F10215;
}

.hotWords .one {
    color: #F10215;
}

/*搜索框*/

/*购物车*/
.myCar {
    background-color: #ffffff;
    width: 188px;
    height: 33px;
    border: 1px solid #ccc;
    position: absolute;
    top: 25px;
    right: 100px;
    text-align: center;
    line-height: 33px;
}

.myCar a {
    text-decoration: none;
    font-size: 14px;
    color: #F10215;
}


.myCar i {
    font-family: icomoon, serif;
    font-size: 14px;
    font-style: normal;
    color: #F10215;
    margin-right: 5px;
}

.myCar s {
    position: absolute;
    top: 3px;
    left: 140px;
    color: white;
    background: #F10215;
    font-size: 12px;
    border-radius: 50%;
    text-decoration: none;
    height: 13px;
    line-height: 13px;
    padding: 2px 5px;
}

/*购物车*/

.top-gg {
    position: absolute;
    top: 25px;
    right: -130px;
}

/*导航栏*/
.navItems {
    position: absolute;
    left: 200px;
    bottom: 0;
}

.navItems ul {
    float: left;
}

.navItems ul li {
    float: left;
}

.navItems li a {
    margin: 0 11px;
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #555a5f;
    line-height: 40px;
    height: 40px;
    text-decoration: none;
}

.navItems li a:hover {
    color: #F10215;
}

/*导航栏*/
/*header 部分*/

/*footer 部分*/
.footer {
    height: 560px;
    background-color: #eaeaea;
}

/*服务模块*/
.footer-service {
    border-bottom: 1px solid #dedede;
}

.service {
    padding: 30px 0;
}

.service ul {
    height: 42px;
}

.service li {
    float: left;
    width: 297px;
    height: 42px;
}

.service_unit {
    width: 225px;
    height: 42px;
    margin: 0 auto;
    position: relative;
}

.service_unit h5 {
    width: 36px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -999px;
    background: url("../image/ico.png") no-repeat;
    overflow: hidden;
}

.service_unit p {
    line-height: 42px;
    margin-left: 45px;
    font-size: 18px;
    font-weight: 700;
}

.service_unit .kuai {
    background-position: 0 -43px;
}

.service_unit .hao {
    background-position: 0 -86px;
}

.service_unit .sheng {
    background-position: 0 -129px;
}

/*服务模块*/

/*帮助模块*/

.help {
    height: 180px;
    padding-top: 20px;

}

.help dl {
    float: left;
    width: 195px;
}

.help dt {
    font-size: 14px;
    font-weight: 700;
    color: #666666;
    height: 30px;
}

.help dd {
    height: 22px;
}

.help dd a {
    color: #727272;
    text-decoration: none;
    font-size: 12px;
}

.help dd a:hover {
    color: #F10215;
}

.help .cover {
    float: right;
    width: 207px;
    height: 150px;
    background: url("../image/ico_footer.png") no-repeat;
}

.help .cover dt {
    text-align: center;
}

.help .info {
    width: 175px;
    height: 50px;
    line-height: 18px;
    color: #727272;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px;
}

.help.infos a {
    padding-right: 10px;
    text-align: right;
    color: #727272;
    font-size: 12px;
}

/*帮助模块*/

/*法律相关模块*/
.copyRight {
    border-top: 1px #dedede solid;
    padding-top: 15px;
}

.links {
    text-align: center;
}

.links a {
    color: #727272;
    font-size: 12px;
}

.links span {
    color: #d4cdcd;
    font-size: 12px;
    margin: 0 10px;
}

.c-info {
    margin-top: 15px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #9e9e9b;
}

.photo {
    text-align: center;
}

.photo a {
    width: 103px;
    height: 32px;
    display: inline-block;
    margin: 0 10px;
    background: url("../image/ico_footer.png") no-repeat 0 -151px;
}

.photo .kexin {
    background-position: -104px -151px;
}

.photo .net {
    background-position: 0 -184px;
}

.photo .chengxin {
    background-position: -104px -184px;
}

.photo .jubao {
    background-position: 0 -218px;
}

.photo .download {
    background-position: -104px -216px;
}

/*法律相关模块*/

/*footer 部分*/

/*中间部分*/

.jd {
    height: 480px;
    position: relative;
    /*background-color: cornflowerblue;*/
}

.jd_inner {
    height: 480px;
    z-index: 1;
    position: relative;
}


/*京东广告*/
.jd_ad {
    /*自动转化为行内块，根据内容给宽度*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 710px;
    background: url("../image/gg.png.webp") no-repeat top center;
}

.jd_ad a {
    display: block;
    width: 100%;
    height: 100%;
}

/*京东广告*/
/*内容部分1*/
.jd-clo1 {
    padding-top: 15px;
    width: 190px;
    height: 465px;
    background-color: #999395;
}

.jd-clo1 li {
    padding-left: 10px;
    height: 26px;
    color: white;
    font-size: 14px;
}

.jd-clo1 ul :hover {
    background-color: #cccccc;
}

.jd-clo1 li a {
    color: white;
    font-size: 14px;
}

.jd-clo1 li a:hover {
    color: #F10215;
}

/*内容部分1*/

/*内容部分2*/
.jd-clo2 {
    width: 792px;
    height: 480px;
    margin-left: 10px;
}

.jd-clo2-banner {
    height: 340px;
    background-color: brown;
    margin-bottom: 10px;
    position: relative;
}

.jd-clo2-banner:hover .arrow {
    display: block;
}

.arrow {
    display: none;
}

.arr-l, .arr-r {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, .3);
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 16px;

}

.arr-l {
    left: 0;
}

.arr-r {
    right: 0;
}

.jd-clo2-banner ol {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.jd-clo2-banner ol li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    float: left;
    margin: 4px 5px;
}

/*内容部分2*/

/*内容部分3*/
.jd-clo3 {
    width: 190px;
    height: 480px;
    background-color: blueviolet;
}

/*内容部分3*/
/*中间部分*/
